DB_HOST="localhost"
DB_USER="postgres"
DB_PASS="password"
DB_PORT="5432"
DB_NAME="postrges"
DB_URL="postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

# openssl rand -base64 32 | npx auth secret --copy
AUTH_SECRET="p8rrFTYnoe1OwFtUaNmAM9UzMEkwK7m+y8sES5kmwwk="